//fonts
$light-violet: #dce4e8; //badge
$dark-blue: #006699; //a
$light-grey: #a9a9a9;//time
$dark-grey: #313132;//sidebar header
$light-black: #999999;//header
//backgrounds
$white: #ffffff; //content
$gloomy: #f0f0f0; //sidebar
$dark-violet: #236282; //badge
//borders
$dark-white: #d3d5d6;//page
$blue-ocean: #527283;//header
$light-gloomy: #e5e5e5;//conversation
