@import "compass";
@import "../globals/colors";

$header-height: 66px;

.layout{
	background-color:  $sidebar-background;
	overflow: auto;
	@include box-sizing(border-box);
}
.content {
	background-color: $content-background;
	.content__header{
		height: $header-height;
		position:relative;
		border: 1px solid $content-border;
		@include background-image(linear-gradient(#f5f5f5, #eeeeee));
	}
	.content__header--top-border:before{
		content:" ";
		width:100%;
	    display:block;
	    border-top: 1px solid $header-second-top-border;
	}
	.content__main{
		border: 1px solid $content-border;
		border-top: 0;
	}
	.content__header--top-border:before{
		content:" ";
		width:100%;
	    display:block;
	    border-top: 1px solid $header-second-top-border;
	}
}
