@import "compass";

//grids

$grid-prefix: g;

$layout-width: 960px;

$grids: 12;

$gutter: 20px;//only in large size

$fluid-gutter: (1/48)*100%;//in all other sizes

//makes grids with width size = index*80px
//only g__content has gutters
@for $i from 1 through 12 {
	.#{$grid-prefix}#{$i}{
		width: ($i/12)*$layout-width; 
		display:block;
		float: left;
		.g__content{
			padding-left: $gutter;
			padding-right: $gutter;
			width: ($i/12)*$layout-width - 2*$gutter;
		}
	}
}

.layout{
	max-width: $layout-width;
	margin: 18px auto;
	padding: 0;
}


//responsive 
$medium: 977px;
$small: 768px;
$very-small: 320px;

//tablets
@media only screen and (max-width : $medium){
	@for $i from 1 through 12 {
		.#{$grid-prefix}#{$i}{
			width: ($i/12)*100%;
			@include box-sizing(border-box);
			.g__content{
				padding-left: $fluid-gutter;
				padding-right: $fluid-gutter;
				width: 100%;
				@include box-sizing(border-box);
			}
		}
	}
	.lg{
		display: none!important;
	}
}

//phones
@media only screen and (max-width : $small){
	@for $i from 1 through 12 {
		.#{$grid-prefix}#{$i}{
			width: 100%;
			clear: both;
			min-width: $very-small;
		}
	}
	.md{
		display: none!important;
	}
}

//smaller phones
@media only screen and (max-width : $very-small){
	.sm{
		display: none!important;
	}
}
