
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-ok-circle:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */