/* line 7, ../../sass/layout/responsive-grids.scss */
.g1 {
  width: 4.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g1.g--clear {
  padding: 0;
  width: 8.33333%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g2 {
  width: 12.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g2.g--clear {
  padding: 0;
  width: 16.66667%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g3 {
  width: 20.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g3.g--clear {
  padding: 0;
  width: 25%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g4 {
  width: 29.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g4.g--clear {
  padding: 0;
  width: 33.33333%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g5 {
  width: 37.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g5.g--clear {
  padding: 0;
  width: 41.66667%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g6 {
  width: 45.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g6.g--clear {
  padding: 0;
  width: 50%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g7 {
  width: 54.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g7.g--clear {
  padding: 0;
  width: 58.33333%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g8 {
  width: 62.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g8.g--clear {
  padding: 0;
  width: 66.66667%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g9 {
  width: 70.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g9.g--clear {
  padding: 0;
  width: 75%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g10 {
  width: 79.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g10.g--clear {
  padding: 0;
  width: 83.33333%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g11 {
  width: 87.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g11.g--clear {
  padding: 0;
  width: 91.66667%;
}

/* line 7, ../../sass/layout/responsive-grids.scss */
.g12 {
  width: 95.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../../sass/layout/responsive-grids.scss */
.g12.g--clear {
  padding: 0;
  width: 100%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o1 {
  margin-left: 8.33333%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o2 {
  margin-left: 16.66667%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o3 {
  margin-left: 25%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o4 {
  margin-left: 33.33333%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o5 {
  margin-left: 41.66667%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o6 {
  margin-left: 50%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o7 {
  margin-left: 58.33333%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o8 {
  margin-left: 66.66667%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o9 {
  margin-left: 75%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o10 {
  margin-left: 83.33333%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o11 {
  margin-left: 91.66667%;
}

/* line 20, ../../sass/layout/responsive-grids.scss */
.o12 {
  margin-left: 100%;
}
