/* line 6, ../../sass/layout/content.scss */
.layout {
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../sass/layout/content.scss */
.content {
  background-color: white;
}
/* line 14, ../../sass/layout/content.scss */
.content .content__header {
  height: 66px;
  position: relative;
  border: 1px solid #dadada;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -moz-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(#f5f5f5, #eeeeee);
  background-image: linear-gradient(#f5f5f5, #eeeeee);
}
/* line 20, ../../sass/layout/content.scss */
.content .content__header--top-border:before {
  content: " ";
  width: 100%;
  display: block;
  border-top: 1px solid #fafafa;
}
/* line 26, ../../sass/layout/content.scss */
.content .content__main {
  border: 1px solid #dadada;
  border-top: 0;
}
/* line 30, ../../sass/layout/content.scss */
.content .content__header--top-border:before {
  content: " ";
  width: 100%;
  display: block;
  border-top: 1px solid #fafafa;
}
