/* line 18, ../../sass/layout/responsive-grids.scss */
.g1 {
  width: 80px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g1 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 40px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g2 {
  width: 160px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g2 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g3 {
  width: 240px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g3 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g4 {
  width: 320px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g4 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g5 {
  width: 400px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g5 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 360px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g6 {
  width: 480px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g6 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 440px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g7 {
  width: 560px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g7 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 520px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g8 {
  width: 640px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g8 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g9 {
  width: 720px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g9 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 680px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g10 {
  width: 800px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g10 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 760px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g11 {
  width: 880px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g11 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 840px;
}

/* line 18, ../../sass/layout/responsive-grids.scss */
.g12 {
  width: 960px;
  display: block;
  float: left;
}
/* line 22, ../../sass/layout/responsive-grids.scss */
.g12 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 920px;
}

/* line 30, ../../sass/layout/responsive-grids.scss */
.layout {
  max-width: 960px;
  margin: 18px auto;
  padding: 0;
}

@media only screen and (max-width: 977px) {
  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g1 {
    width: 8.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g1 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g2 {
    width: 16.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g2 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g3 {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g3 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g4 {
    width: 33.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g4 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g5 {
    width: 41.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g5 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g6 {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g6 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g7 {
    width: 58.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g7 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g8 {
    width: 66.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g8 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g9 {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g9 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g10 {
    width: 83.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g10 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g11 {
    width: 91.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g11 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 45, ../../sass/layout/responsive-grids.scss */
  .g12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 48, ../../sass/layout/responsive-grids.scss */
  .g12 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 56, ../../sass/layout/responsive-grids.scss */
  .lg {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g1 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g2 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g3 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g4 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g5 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g6 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g7 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g8 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g9 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g10 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g11 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 64, ../../sass/layout/responsive-grids.scss */
  .g12 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 70, ../../sass/layout/responsive-grids.scss */
  .md {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  /* line 77, ../../sass/layout/responsive-grids.scss */
  .sm {
    display: none !important;
  }
}
