@import "../globals/colors";
@import "compass";
@import "../globals/functions";


.badge--unchecked{
	@include badge($badge-unchecked-background);
}
.badge--checked{
	@include badge($badge-checked-background);
}
.badge-counter{
	display: inline-block;
	@include border-radius(4px);
	background-color: $badge-counter-background;
	padding: 2px 6px;
	font-size: 12px;
	color: $badge-counter-font;
	font-weight: bold;

}
