@import "compass";
@import "../globals/colors";
@import "../globals/functions";


.badge--unchecked {
	@include badge($badge-unchecked-background);
}
.badge--checked {
	@include badge($badge-checked-background);
}
.badge-counter {
	display: inline-block;
	background-color: $badge-counter-background;
	padding: 2px 6px;
	font-size: 12px;
	color: $badge-counter-font;
	font-weight: bold;
	@include border-radius(4px);

}
