@import url(fonts/css/fontello-codes.css);
@import url(fonts/css/fontello-embedded.css);
@import url(fonts/css/fontello-ie7-codes.css);
@import url(fonts/css/fontello-ie7.css);
@import url(fonts/css/fontello.css);
@import url(plugins/normalize.css/normalize.css);
/* line 3, ../sass/globals/globals.scss */
body {
  background-color: whitesmoke;
}

/* line 7, ../sass/globals/globals.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 11, ../sass/globals/globals.scss */
ul li {
  list-style: none;
}

/* line 15, ../sass/globals/globals.scss */
.img-thumbnail {
  padding: 4px;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #aaaaaa 0px 0px 10px;
  -moz-box-shadow: #aaaaaa 0px 0px 10px;
  box-shadow: #aaaaaa 0px 0px 10px;
}

/* line 21, ../sass/globals/globals.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g1 {
  width: 4.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g1.g--clear {
  padding: 0;
  width: 8.33333%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g2 {
  width: 12.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g2.g--clear {
  padding: 0;
  width: 16.66667%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g3 {
  width: 20.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g3.g--clear {
  padding: 0;
  width: 25%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g4 {
  width: 29.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g4.g--clear {
  padding: 0;
  width: 33.33333%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g5 {
  width: 37.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g5.g--clear {
  padding: 0;
  width: 41.66667%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g6 {
  width: 45.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g6.g--clear {
  padding: 0;
  width: 50%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g7 {
  width: 54.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g7.g--clear {
  padding: 0;
  width: 58.33333%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g8 {
  width: 62.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g8.g--clear {
  padding: 0;
  width: 66.66667%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g9 {
  width: 70.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g9.g--clear {
  padding: 0;
  width: 75%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g10 {
  width: 79.16667%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g10.g--clear {
  padding: 0;
  width: 83.33333%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g11 {
  width: 87.5%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g11.g--clear {
  padding: 0;
  width: 91.66667%;
}

/* line 7, ../sass/layout/responsive-grids.scss */
.g12 {
  width: 95.83333%;
  display: inline-block;
  padding: 0 2.08333%;
  vertical-align: top;
}
/* line 12, ../sass/layout/responsive-grids.scss */
.g12.g--clear {
  padding: 0;
  width: 100%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o1 {
  margin-left: 8.33333%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o2 {
  margin-left: 16.66667%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o3 {
  margin-left: 25%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o4 {
  margin-left: 33.33333%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o5 {
  margin-left: 41.66667%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o6 {
  margin-left: 50%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o7 {
  margin-left: 58.33333%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o8 {
  margin-left: 66.66667%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o9 {
  margin-left: 75%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o10 {
  margin-left: 83.33333%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o11 {
  margin-left: 91.66667%;
}

/* line 20, ../sass/layout/responsive-grids.scss */
.o12 {
  margin-left: 100%;
}

/* line 3, ../sass/layout/layout.scss */
.page {
  max-width: 960px;
  margin: 18px auto;
  padding: 0;
  display: block;
  height: auto;
  background-color: #f0f0f0;
}

/* line 6, ../sass/layout/content.scss */
.content {
  background-color: white;
}
/* line 8, ../sass/layout/content.scss */
.content > div {
  position: relative;
}
/* line 11, ../sass/layout/content.scss */
.content .content__header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -moz-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(#f5f5f5, #eeeeee);
  background-image: linear-gradient(#f5f5f5, #eeeeee);
  height: 66px;
  border: 1px solid #dadada;
  border-bottom: 0;
}
/* line 17, ../sass/layout/content.scss */
.content .content__main {
  border: 1px solid #dadada;
  border-top: 0;
}
/* line 24, ../sass/layout/content.scss */
.content .content__header--top-border:before {
  content: " ";
  width: 100%;
  display: block;
  border-top: 1px solid #fafafa;
}
/* line 30, ../sass/layout/content.scss */
.content .separator:after {
  position: absolute;
  content: " ";
  top: 100%;
  width: 100%;
  display: block;
  padding: 0 1px;
  left: -1px;
  border-bottom: 3px solid #486a7c;
  z-index: 10;
}

/* line 38, ../sass/components/navbar.scss */
ul.nav {
  list-style: none;
  height: 100%;
}
/* line 41, ../sass/components/navbar.scss */
ul.nav li.nav__item {
  display: inline-block;
  position: relative;
  top: 30%;
}
/* line 45, ../sass/components/navbar.scss */
ul.nav li.nav__item a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #313132;
}
/* line 53, ../sass/components/navbar.scss */
ul.nav li.nav__item a:hover {
  color: #d11344;
}
/* line 57, ../sass/components/navbar.scss */
ul.nav li.nav__item.active a {
  background-color: white;
}
/* line 63, ../sass/components/navbar.scss */
ul.nav.nav--custom li.nav__item {
  height: 100%;
  top: 0;
}
/* line 67, ../sass/components/navbar.scss */
ul.nav.nav--custom li.nav__item a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  bottom: -27px;
  z-index: 99;
  height: 33px;
  padding: 8px 15px 0px 15px;
}

/* line 5, ../sass/components/conversation.scss */
.conversation {
  padding-bottom: 20px;
  padding-top: 20px;
}
/* line 8, ../sass/components/conversation.scss */
.conversation p.conversation__header, .conversation p.conversation__footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #999999;
}
/* line 13, ../sass/components/conversation.scss */
.conversation li.conversation__item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 13px;
  padding-bottom: 13px;
}
/* line 17, ../sass/components/conversation.scss */
.conversation li.conversation__item:last-child {
  border-bottom: 0;
}
/* line 19, ../sass/components/conversation.scss */
.conversation li.conversation__item:last-child img, .conversation li.conversation__item:last-child i {
  visibility: hidden;
}
/* line 23, ../sass/components/conversation.scss */
.conversation li.conversation__item img, .conversation li.conversation__item i, .conversation li.conversation__item span {
  display: inline-block;
  vertical-align: middle;
}
/* line 27, ../sass/components/conversation.scss */
.conversation li.conversation__item i {
  padding: 20px;
  color: #e5e5e5;
}
/* line 31, ../sass/components/conversation.scss */
.conversation li.conversation__item span {
  position: relative;
  top: -13px;
  font-size: 13px;
}
/* line 35, ../sass/components/conversation.scss */
.conversation li.conversation__item span p {
  color: darkgrey;
  font-size: 12px;
  margin: 5px 0;
}
/* line 40, ../sass/components/conversation.scss */
.conversation li.conversation__item span a.object {
  color: #006699;
  font-weight: bold;
}
/* line 44, ../sass/components/conversation.scss */
.conversation li.conversation__item span a.person {
  color: #313132;
  font-weight: bold;
}

/* line 16, ../sass/components/badges.scss */
.badge--unchecked {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset -1px 1px 4px #999999;
  -moz-box-shadow: inset -1px 1px 4px #999999;
  box-shadow: inset -1px 1px 4px #999999;
  text-shadow: 1px 1px 3px #aaaaaa;
  font-size: 11px;
  padding: 2px 6px;
  color: #fff;
  background-color: #b5b6b8;
  font-weight: bold;
}

/* line 19, ../sass/components/badges.scss */
.badge--checked {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset -1px 1px 4px #999999;
  -moz-box-shadow: inset -1px 1px 4px #999999;
  box-shadow: inset -1px 1px 4px #999999;
  text-shadow: 1px 1px 3px #aaaaaa;
  font-size: 11px;
  padding: 2px 6px;
  color: #fff;
  background-color: #f6ba90;
  font-weight: bold;
}
