@import url(fonts/css/fontello-codes.css);
@import url(fonts/css/fontello-embedded.css);
@import url(fonts/css/fontello-ie7-codes.css);
@import url(fonts/css/fontello-ie7.css);
@import url(fonts/css/fontello.css);
@import url(plugins/normalize.css/normalize.css);
/* line 4, ../sass/globals/globals.scss */
body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, ../sass/globals/globals.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/globals/globals.scss */
.img-thumbnail {
  padding: 4px;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #aaaaaa 0px 0px 10px;
  -moz-box-shadow: #aaaaaa 0px 0px 10px;
  box-shadow: #aaaaaa 0px 0px 10px;
}

/* line 20, ../sass/globals/globals.scss */
a {
  text-decoration: none;
}

/* line 23, ../sass/globals/globals.scss */
.separator:after, .separator--custom:after {
  position: absolute;
  content: " ";
  top: 100%;
  width: 100%;
  display: block;
  border-bottom: 3px solid #486a7c;
  z-index: 10;
}

/* line 32, ../sass/globals/globals.scss */
.separator--custom:after {
  margin-top: 1px;
  left: -1px;
  padding: 0 1px;
}

/* line 6, ../sass/layout/content.scss */
.layout {
  background-color: #f0f0f0;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/layout/content.scss */
.content {
  background-color: white;
}
/* line 13, ../sass/layout/content.scss */
.content .content__header {
  height: 66px;
  position: relative;
  border: 1px solid #dadada;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -moz-linear-gradient(#f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(#f5f5f5, #eeeeee);
  background-image: linear-gradient(#f5f5f5, #eeeeee);
}
/* line 19, ../sass/layout/content.scss */
.content .content__header--top-border:before {
  content: " ";
  width: 100%;
  display: block;
  border-top: 1px solid #fafafa;
}
/* line 25, ../sass/layout/content.scss */
.content .content__main {
  border: 1px solid #dadada;
  border-top: 0;
}
/* line 29, ../sass/layout/content.scss */
.content .content__header--top-border:before {
  content: " ";
  width: 100%;
  display: block;
  border-top: 1px solid #fafafa;
}

/* line 5, ../sass/layout/sidebar.scss */
.sidebar .sidebar__img {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #d3d5d6;
  width: 100%;
  max-width: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 13, ../sass/layout/sidebar.scss */
.sidebar .sidebar__img img {
  width: 100%;
  display: block;
}
/* line 17, ../sass/layout/sidebar.scss */
.sidebar .sidebar__img p {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 3%;
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}
/* line 30, ../sass/layout/sidebar.scss */
.sidebar .sidebar__main > header {
  margin-top: 30px;
  padding-bottom: 15px;
  color: #313132;
  font-weight: bold;
  border-bottom: 1px solid #d1d3d4;
}

/* line 4, ../sass/components/navbar.scss */
ul.nav {
  list-style: none;
  height: 100%;
  width: 100%;
}
/* line 8, ../sass/components/navbar.scss */
ul.nav li.nav__item {
  display: inline-block;
  position: relative;
  top: 30%;
}
/* line 12, ../sass/components/navbar.scss */
ul.nav li.nav__item a {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #313132;
}
/* line 19, ../sass/components/navbar.scss */
ul.nav li.nav__item a:hover {
  color: #d11344;
}
/* line 23, ../sass/components/navbar.scss */
ul.nav li.nav__item.active a {
  background-color: white;
}
/* line 29, ../sass/components/navbar.scss */
ul.nav.nav--custom li.nav__item {
  height: 100%;
  top: 0;
}
/* line 33, ../sass/components/navbar.scss */
ul.nav.nav--custom li.nav__item a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  bottom: -29px;
  z-index: 99;
  height: 33px;
  padding: 8px 15px 0px 15px;
}

/* line 4, ../sass/components/conversation.scss */
.conversation {
  padding: 20px 0;
}
/* line 6, ../sass/components/conversation.scss */
.conversation > header {
  margin: 30px 0;
  font-size: 12px;
  color: #999999;
  width: 100%;
}
/* line 12, ../sass/components/conversation.scss */
.conversation > footer {
  margin-left: 23.33333%;
  font-size: 12px;
  color: #999999;
  padding-top: 13px;
  padding-left: 2%;
}
/* line 19, ../sass/components/conversation.scss */
.conversation .conversation__item {
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 22, ../sass/components/conversation.scss */
.conversation .conversation__item .extra {
  float: left;
  overflow: visible;
}
/* line 25, ../sass/components/conversation.scss */
.conversation .conversation__item .extra img {
  float: left;
}
/* line 28, ../sass/components/conversation.scss */
.conversation .conversation__item .extra i {
  font-size: 15px;
  position: relative;
  display: block;
  margin: 0 15px 0 20px;
  top: 23px;
  display: inline;
  color: #e5e5e5;
}
/* line 38, ../sass/components/conversation.scss */
.conversation .conversation__item .main {
  position: relative;
  min-height: 65px;
  font-size: 13px;
  left: 7px;
}
/* line 43, ../sass/components/conversation.scss */
.conversation .conversation__item .main p {
  color: darkgrey;
  font-size: 12px;
  margin: 3px 0;
}
/* line 48, ../sass/components/conversation.scss */
.conversation .conversation__item .main a {
  font-weight: bold;
}
/* line 50, ../sass/components/conversation.scss */
.conversation .conversation__item .main a.object {
  color: #006699;
}
/* line 18, ../sass/globals/functions.scss */
.conversation .conversation__item .main a.object:hover {
  color: #00aaff;
}
/* line 53, ../sass/components/conversation.scss */
.conversation .conversation__item .main a.person {
  color: #313132;
}
/* line 18, ../sass/globals/functions.scss */
.conversation .conversation__item .main a.person:hover {
  color: #636366;
}
/* line 58, ../sass/components/conversation.scss */
.conversation .conversation__item.conversation__item--type1 {
  background-color: #fffde8;
}
/* line 60, ../sass/components/conversation.scss */
.conversation .conversation__item.conversation__item--type1 i {
  color: #e8db9d;
}
/* line 64, ../sass/components/conversation.scss */
.conversation .conversation__item.conversation__item--type2 {
  background-color: #e9fde9;
}
/* line 66, ../sass/components/conversation.scss */
.conversation .conversation__item.conversation__item--type2 i {
  color: #a3d690;
}
/* line 71, ../sass/components/conversation.scss */
.conversation.conversation--small {
  padding: 0;
}
/* line 73, ../sass/components/conversation.scss */
.conversation.conversation--small .conversation__item {
  padding-bottom: auto 20px;
}
/* line 75, ../sass/components/conversation.scss */
.conversation.conversation--small .conversation__item .extra {
  font-size: 14px;
}
/* line 77, ../sass/components/conversation.scss */
.conversation.conversation--small .conversation__item .extra i {
  display: none;
}
/* line 85, ../sass/components/conversation.scss */
.conversation .conversation__item:last-child {
  border-bottom: 0;
}

/* line 6, ../sass/components/badges.scss */
.badge--unchecked {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset -1px 1px 4px #999999;
  -moz-box-shadow: inset -1px 1px 4px #999999;
  box-shadow: inset -1px 1px 4px #999999;
  text-shadow: 1px 1px 3px #aaaaaa;
  font-size: 11px;
  padding: 2px 6px;
  margin: 2px;
  color: #fff;
  background-color: #b5b6b8;
  font-weight: bold;
}

/* line 9, ../sass/components/badges.scss */
.badge--checked {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset -1px 1px 4px #999999;
  -moz-box-shadow: inset -1px 1px 4px #999999;
  box-shadow: inset -1px 1px 4px #999999;
  text-shadow: 1px 1px 3px #aaaaaa;
  font-size: 11px;
  padding: 2px 6px;
  margin: 2px;
  color: #fff;
  background-color: #f6ba90;
  font-weight: bold;
}

/* line 12, ../sass/components/badges.scss */
.badge-counter {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #dce4e8;
  padding: 2px 6px;
  font-size: 12px;
  color: #236282;
  font-weight: bold;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g1 {
  width: 80px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g1 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 40px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g2 {
  width: 160px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g2 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g3 {
  width: 240px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g3 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g4 {
  width: 320px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g4 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g5 {
  width: 400px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g5 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 360px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g6 {
  width: 480px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g6 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 440px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g7 {
  width: 560px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g7 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 520px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g8 {
  width: 640px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g8 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g9 {
  width: 720px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g9 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 680px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g10 {
  width: 800px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g10 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 760px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g11 {
  width: 880px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g11 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 840px;
}

/* line 16, ../sass/layout/responsive-grids.scss */
.g12 {
  width: 960px;
  display: block;
  float: left;
}
/* line 20, ../sass/layout/responsive-grids.scss */
.g12 .g__content {
  padding-left: 20px;
  padding-right: 20px;
  width: 920px;
}

/* line 28, ../sass/layout/responsive-grids.scss */
.layout {
  max-width: 960px;
  margin: 18px auto;
  padding: 0;
}

@media only screen and (max-width: 977px) {
  /* line 43, ../sass/layout/responsive-grids.scss */
  .g1 {
    width: 8.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g1 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g2 {
    width: 16.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g2 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g3 {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g3 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g4 {
    width: 33.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g4 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g5 {
    width: 41.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g5 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g6 {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g6 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g7 {
    width: 58.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g7 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g8 {
    width: 66.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g8 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g9 {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g9 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g10 {
    width: 83.33333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g10 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g11 {
    width: 91.66667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g11 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 43, ../sass/layout/responsive-grids.scss */
  .g12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 46, ../sass/layout/responsive-grids.scss */
  .g12 .g__content {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 54, ../sass/layout/responsive-grids.scss */
  .lg {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 62, ../sass/layout/responsive-grids.scss */
  .g1 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g2 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g3 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g4 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g5 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g6 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g7 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g8 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g9 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g10 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g11 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 62, ../sass/layout/responsive-grids.scss */
  .g12 {
    width: 100%;
    clear: both;
    min-width: 320px;
  }

  /* line 68, ../sass/layout/responsive-grids.scss */
  .md {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  /* line 75, ../sass/layout/responsive-grids.scss */
  .sm {
    display: none !important;
  }
}
