$body-background: #f5f5f5;
$page-border: #d3d5d6;

//content
$content-border:#dadada;
$content-background: #ffffff;
$header-bottom-border: #d1d3d4;
$header-second-top-border: #fafafa;

//sidebar
$sidebar-header-font: #313132;
$sidebar-background: #f0f0f0;
$sidebar-image-top-border: $content-border;
$sidebar-image-bottom-border: $page-border;

//conversation
$conversation-header-font: #999999; 
$conversation-time-font: $conversation-header-font; 
$conversation-font: #006699; 
$conversation-time-font: #a9a9a9;
$conversation-bottom-border: #e5e5e5;
$conversation-icon: #e5e5e5;
$conversation-object-font: $conversation-font; 
$conversation-person-font: $sidebar-header-font; 


//nav
$nav-font: #313132;
$nav-font-hover: #d11344;
$nav-active-button: #ffffff;

//badge
$badge-counter-font:#236282;
//$badge-counter-background: #236282;
$badge-counter-background: #dce4e8;
$badge-unchecked-background: #b5b6b8;
$badge-checked-background: #f6ba90;


$img-thumbnail-border:#d4d4d4;
$separator: #486a7c;
