$body-background: #f5f5f5;
$page-border: #d3d5d6;

//content
$content-border:#dadada;
$content-background: #ffffff;
$header-bottom-border: #d1d3d4;
$header-second-top-border: #fafafa;

//sidebar
$sidebar-header-font: #313132;
$sidebar-background: #f0f0f0;

//conversation
$conversation-font: #006699; 
$conversation-time-font: #a9a9a9;
$conversation-bottom-border: #e5e5e5;

//nav
$nav-font: #313132;
$nav-font-hover: #d11344;
$nav-active-button: #ffffff;

//badge
$badge-background: #236282; 
$badge-font: #dce4e8; 
