@import "compass";

@mixin badge($bg-color) {
	display: inline-block;
	font-size: 11px;
	padding: 2px 6px;
	margin: 2px;
	color: #fff;
	background-color: $bg-color;
	font-weight: bold;
	@include border-radius(4px);
	@include single-box-shadow(#999999, -1px, 1px, 4px, false, true);
	@include single-text-shadow(1px,1px,3px);
}

@mixin bgAndHoverColor($baseColor) {
    color: $baseColor;
    &:hover {
		color: lighten($baseColor, 20%)
    }
}
