@import "colors";
@import "compass";
body {
	background-color: $body-background;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}
.img-thumbnail{
	padding: 4px;
	border: 1px solid $img-thumbnail-border;
	@include border-radius(4px);
	@include box-shadow(#aaaaaa 0px 0px 10px);
}
a{
	color:#000;
	text-decoration: none;
}
